:root {
    --link-hover-color: #0736F8;
}

[data-bs-theme='dark'] .navbar{
    background-color: #101010 !important;
}

[data-bs-theme='light'] .navbar{
    background-color: #aaaaaa !important;
}

[data-bs-theme='light'] .nav-link {
    color: #000000 !important;
}

.nav-item a {
    display: inline-block;
    padding: 0.2rem 0.4rem;
}
  
.nav-item a:hover {
    color: #0736F8;
    transform: translateY(-1px);
}