:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 10px;
}

.p-5{
  padding: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbar{
  min-height: 16mm;
}

.small-toggler {
  padding: 0.25rem 0.5rem;  /* smaller padding */
  font-size: 0.75rem;       /* optional */
  width: 36px;              /* smaller width */
  height: 36px;             /* smaller height */
}

#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #020a9eaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.homebuttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  min-width: 300px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  border: 1px solid #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; 
  z-index: 1000; 
}

.navbar a{
  color: rgba(255, 255, 255, 0.8);
}


.navbar .flex {
  display: flex;
  gap: 24px;
  margin-right: 40px;
}

.navbar .menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.navbar .links {
  display: flex;
  gap: 1rem;
  margin-right: 40px;
}

.navbar .links a {
  color: white;
  text-decoration: none;
}

.navbar .links a:hover {
  text-decoration: underline;
  color: white;
}

.navbar .links.open {
  display: block;
}

@media (max-width: 768px) {
  .navbar .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    padding: 1rem;
  }

  .navbar .menu-toggle {
    display: block;
  }

  .navbar .links.open {
    display: flex;
  }
}

.banner {
  margin-top: 0px;
}


.signature {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.signature:hover{
  text-shadow: 0 0 20px #ffffff;
}

.content{
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 90%;
  padding: 20px;
}

.about-section .profile-picture {
  flex-shrink: 0;
}

.about-section .about-text {
  flex: 1; 
  padding-left: 20px; 
}

.socials{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.Card {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 300px;
}

.full-page-pdf {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}